Package: ukai
Version: 1.0-1
Architecture: amd64
Maintainer: Nachi Ueno <nueno@juniper.net>
Installed-Size: 28590
Depends: zip
Section: app
Priority: optional
Homepage: http://github.com/Juniper/ukai
Description: Contrail Global Controller
